div{

}

body{
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: #E3FDFD;
}

h1{
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

.topContainer{
  position: relative;
  padding-top: 100px;
}

.middleContainer{

}

.bottomContainer{

}

.left-cloud{
  left: 300px;
  bottom: 300px;
  position: absolute;
}

.right-cloud{
  position: absolute;
  right: 300px;
  top:50px;
}

.emphasize{
  font-weight: bold;
  text-decoration: underline;
}
