.avatar{
  width:25%;
}

body{
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: #E3FDFD;
}

h1{
  margin: 10rem auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 8rem
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 0 auto 5.5rem auto;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

.topContainer{
  position: relative;
  padding-top: 100px;
}

.middleContainer{

}

.bottomContainer{

}

.left-cloud{
  left: 300px;
  bottom: 300px;
  position: absolute;
}

.right-cloud{
  position: absolute;
  right: 300px;
  top:50px;
}

.emphasize{
  font-weight: bold;
  text-decoration: underline;
}
