
a{
  color: #11999E;
}

body{
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;

}

h1{
  margin: 10rem auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 8rem;
  color:#66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color:#66BFBF;
  margin: 0 auto 2rem auto;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr{
  width: 5%;
  border-style: dotted;
  border-width: 10px;
  border-top: none;
  border-color: #EAF6F6;
  margin: 5rem auto;

}

.topContainer{
  position: relative;
  padding-top: 100px;
  background-color: #E3FDFD;
}

.middleContainer{

}

.bottomContainer{

}

.mountain{
  margin-top: 5rem;
}

.left-cloud{
  left: 300px;
  bottom: 300px;
  position: absolute;
}

.right-cloud{
  position: absolute;
  right: 300px;
  top:50px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-me{
  line-height: 2;
}

.hello-img{
  width: 20%;
  margin-top: 5rem;
}
.code-img{
  width: 35%;
  float: left;
  margin-right: 30px;
}

.solver-img{
  width: 35%;
  float: right;
  margin-left: 30px;
}

.emphasize{
  font-weight: bold;
  text-decoration: underline;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
